{% extends 'base.html' %}

{% block title %}Города{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <table class="table table-striped">

               <tbody>
               {% for city in obj_list %}
                <tr>
                  <td>{{ city.name }}</td>
                  <td>
                      <a href="{% url 'city:edit' id=city.id %}">
                        <button class="btn btn-info btn-sm"> Редактировать</button>
                      </a>
                  </td>

                  <td>
                      <a href="{% url 'city:delete' id=city.id %}">
                        <button class="btn btn-danger btn-sm"> Удалить</button>
                      </a>
                  </td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if obj_list.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ obj_list.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ obj_list.number }} of {{ obj_list.paginator.num_pages }}.
                    </span>

                    {% if obj_list.has_next %}
                        <a href="?page={{ obj_list.next_page_number }}">next</a>
                        <a href="?page={{ obj_list.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="{% url 'city:add' %}">
                <button class="btn btn-secondary btn-sm"> Добавить новый город</button>
            </a>
        </div>
    </div>
{% endblock %}